
<nav class="navbar navbar-light navbar-fixed-bottom" style="background-color: #DCF1EF;">

    <h4  class="navbar-text">&copy; Copyright Jiye Yu - COMP229 - Fall 2020. All Rights reserved.</h4>

</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>

  </body>
</html>
